@using Prosjekt.Models.Oversikt;
@model Prosjekt.Models.Oversikt.OversiktViewModel;
@{
    ViewData["Title"] = "Oversikt";
}
<div class="container mt-5">
  <h1 class="text-center mb-4">Oversikt</h1>
  
  <div class="row justify-content-center mt-3">
    <div class="col-4 mt-5">
      <button type="button" class="btn btn-primary btn-block" onclick="goToPage('../Serviceskjema/Serviceskjema')">Serviceskjema</button>
    </div>
    <div class="col-4 mt-5">
      <button type="button" class="btn btn-primary btn-block" onclick="goToPage('../Serviceordre/Serviceordre')">Serviceordre</button>
    </div>
    <div class="col-4 mt-5">
      <button type="button" class="btn btn-primary btn-block" onclick="goToPage('../Sjekkliste/Sjekkliste')">Sjekkliste</button>
    </div>
  </div>
      <script>
          function goToPage(pageUrl) {
            window.location.href = pageUrl;
          }
    </script>
</div>
<div class="row justify-content-center" style="margin-top: 90px;">
    <div class="col-6">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search..." aria-label="Search" aria-describedby="button-addon2">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary ms-3" type="button" id="button-addon2">Search</button>
        </div>
      </div>
    </div>
  </div>


<div class="table-responsive custom-table-scroll custom-table-scroll-y" style="max-width: 75%; margin-left: auto; margin-right: auto;">
    <!-- Tabell -->
    <table class="table table-striped table-hover table-sm mx-auto" id="partsTable">
        <thead>
            <tr>
                <!-- Gjør ID-kolonnen mindre på små skjermer -->
                <th class="text-center">Order ID</th>
                <th class="text-center">Serienummer</th>
                <th class="text-center">Garanti</th>
                <th class="text-center">Kunde epost</th>
                <th class="text-center">Avtale</th>
                <th class="text-center">Serviceskjema nr</th>
                <th class="text-center">Beskriver</th>
                <th class="text-center">Uke</th>
                <th class="text-center">Checkliste</th>
            </tr>
        </thead>
        <tbody>
            @if (ViewData["list"] != null)
            {
                @foreach (var item  in ViewData["list"] as List<OversiktViewModel>)
                {
                    <tr>
                        <td class="text-center">@item.OrderID_int</td>
                        <td class="text-center custom-table-scroll">@item.SerialNr_str</td>
                        <td class="text-center">@item.WarrantyName</td>
                        <td class="text-center">@item.Email</td>
                        <td class="text-center custom-table-scroll">@item.Description_From_Customer_str</td>
                        <td class="text-center">@item.FormID_int</td>
                        <td class="text-center">@item.BookedServiceWeek_int</td>
                        <td class="text-center custom-table-scroll">@item.Repairdescription_str</td>
                        <td class="text-center custom-table-scroll">@item.DocID_str</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
