@using Prosjekt.Models.Oversikt;
@model Prosjekt.Models.Oversikt.OversiktViewModel;
@{
    ViewData["Title"] = "Oversikt";
}
<!-- henter script -->
<script src="~/js/Oversikt.js"></script>
<div class="card mx-auto p-0" id="cardOversikt">
    <div class="card-header" id="cardheaderoversikt">
        <h1 class="text-center " style="margin-bottom: 20px; margin-top: 20px; color: white;">Oversikt</h1>
        <div class="row" id="testrow">
            <div class="col" id="colOversik">
                <button id="button-oversikt" type="button" class="btn btn-primary btn-block" onclick="goToPage('../Serviceordre/Serviceordre')">Serviceordre</button>
            </div>
            <div class="col" id="colOversik">
                <button id="button-oversikt" type="button" class="btn btn-primary btn-block" onclick="goToPage('../Serviceskjema/Serviceskjema')">Serviceskjema</button>
            </div>
            <div class="col" id="colOversik">
                <button id="button-oversikt" type="button" class="btn btn-primary btn-block" onclick="goToPage('../Sjekkliste/Sjekkliste')">Sjekkliste</button>
             </div>
        </div>
    </div>
   

    <script>
          function goToPage(pageUrl) {
            window.location.href = pageUrl;
          }
        </script>

    <div class="row">

        <div class="col-6" id="colonneOversikt">
            <input oninput="myFunctionOversikt()" id="søkebarOversikt" type="text" class="form-control" placeholder="Søk på order ID..." aria-label="Search" aria-describedby="button-addon2">
        </div>

    </div>
    <div class="row justify-content-center">
        <div class="col-11 m-3">
            <div class="table-responsive custom-table-scroll custom-table-scroll-y"> 
                <!-- oppretter Tabell -->
                <table class="table table-striped table-hover table-sm mx-auto" id="partsTable">
                    <thead>
                    <tr>
                        <th class="text-center">Order ID</th>
                        <th class="text-center">Serienummer</th>
                        <th class="text-center">Garanti</th>
                        <th class="text-center">Kunde epost</th>
                        <th class="text-center">Avtale</th>
                        <th class="text-center">Serviceskjema nr</th>
                        <th class="text-center">Beskriver</th>
                        <th class="text-center">Uke</th>
                        <th class="text-center">Sjekkliste</th>
                    </tr>
                    </thead>
                    <tbody>
                    @if (ViewData["list"] != null)
                    {
                        // Sjekk om ViewData["list"] er ikke-null
                        // Hvis ikke-null, gjennomgå hvert element i listen og generer HTML for hver rad i tabellen

                        @foreach (var item  in ViewData["list"] as List<OversiktViewModel>)
                        {
                            <tr>
                                <td class="text-center">@item.OrderID_int</td>
                                <td class="text-center custom-table-scroll">@item.SerialNr_str</td>
                                <td class="text-center">@item.WarrantyName</td>
                                <td class="text-center">@item.Email</td>
                                <td class="text-center custom-table-scroll">@item.Description_From_Customer_str</td>
                                <td class="text-center">@item.FormID_int</td>
                                <td class="text-center">@item.BookedServiceWeek_int</td>
                                <td class="text-center custom-table-scroll">@item.Repairdescription_str</td>
                                <td class="text-center custom-table-scroll">@item.DocID_str</td>
                            </tr>
                        }
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
    




