@model List<Prosjekt.Models.Notifikasjon>

@{
    ViewData["Title"] = "Notifikasjon";
}
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css" rel="stylesheet">
<link rel="stylesheet" href="~/css/notifikasjon.css" />

<div class="card mb-5 shadow-sm">
    <div class="card-header">
        <h2>Notifikasjonsside</h2>
    </div>
    <div class="card-body py-2">
        <form asp-action="LeggTilNotifikasjon" method="post">
            <div class="row">
                <div class="col-md-4">
                    <label for="melding" class="form-label">Melding</label>
                    <input type="text" class="form-control" id="melding" name="Melding" required>
                </div>
                <div class="col-md-3">
                    <label for="avdeling" class="form-label">Avdeling</label>
                    <select class="form-control" id="avdeling" name="Avdeling" required>
                        <option value="Servicebehandler">Servicebehandler</option>
                        <option value="Elektro">Elektro</option>
                        <option value="Hydro">Hydro</option>
                        <option value="Mekanisk">Mekanisk</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="status" class="form-label">Status</label>
                    <select class="form-control" id="status" name="Status" required>
                        <option value="Fullført">Fullført</option>
                        <option value="Pågår">Pågår</option>
                    </select>
                </div>


                <div class="col-md-2 d-flex align-items-center">
                    <button type="submit" class="btn w-100">Legg ut</button>
                </div>
            </div>
        </form>
    </div>
</div>


@for (int i = Model.Count - 1; i >= 0; i--)
    {
        var notifikasjon = Model[i];
        var badgeClass = notifikasjon.Status == "Fullført" ? "bg-success" : "bg-warning";
        var iconClass = notifikasjon.Status == "Fullført" ? "bi-check-square" : "bi-hourglass-split";

    <div class="alert" role="alert">
        <div class="d-flex justify-content-between">
            <span class="text-muted">
                <i class="bi bi-clock-history" style="font-size: 1em;"></i>
                @DateTime.Now.ToString("G")
            </span>
            <div>
                <span class="bi bi-bookmark" title="Bokmerk melding" onclick="toggleBookmark(this)"></span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
        <p class="mb-0">@notifikasjon.Melding</p>
        <div class="d-flex justify-content-between">
            <div>
                <i class="bi @iconClass icon-size"></i>
                <span class="badge @badgeClass">@notifikasjon.Status</span>
                <i class="bi bi-house-door division-icon"></i> @notifikasjon.Avdeling
            </div>
        </div>
    </div>
}



<script>function toggleBookmark(element) {
        if (element.classList.contains("bi-bookmark")) {
            element.classList.remove("bi-bookmark");
            element.classList.add("bi-bookmark-fill");
        } else {
            element.classList.remove("bi-bookmark-fill");
            element.classList.add("bi-bookmark");
        }
    }</script>